.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #434a54;
}

@media (min-width:48em) {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0px;
  }

}


.cover {
  border-radius: 10px;
  background-color: white !important;
}

.cover-bg {
  background-color: #4A89DC;
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 80px;
  border: 2px solid red;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}